body{
    background-image: url('h2.jpg');
        height: 110vh;
        width:190vh;
        background-size: cover;
        background-position: center;
        text-align: center;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: "Imprint MT Shadow"
    
}
#digitalClock{
    position: absolute;
    color: rgb(231, 234, 233);
    top: 50%;
    left: 47%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    border: 1px solid rgb(52, 14, 155);
    background-color: black;
    padding: 1px 5px;

}